{% extends '../base.html' %}

{% block title %}Redefinição da senha{% endblock %}

{% block content %}
    <h2>Redefinição da senha</h2>
    <p>Esqueceu a sua senha? Insira o endereço de e-mail cadastro abaixo, e lhe enviaremos um e-mail permitindo que a redefina.</p>
    <p>Se você não cadastrou um e-mail não será possível redefinir sua senha!</p>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error|escape }}
            </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post" class="container needs-validation" novalidate autocomplete="off">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email">E-mail:</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Digite seu email ..." maxlength="100" {% if form.email.value  %} value="{{ form.email.value }}" {% endif %}/>
        <div class="invalid-feedback text-center">Digite um e-mail válido!</div>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary" type="submit">Redefinir</button>
      </div>
    </form>
{% endblock %}