{% extends '../base.html' %}

{% block title %}Redefinição da senha{% endblock %}

{% block content %}
    <h2>Redefinição da senha</h2>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error|escape }}
            </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post" class="container mt-3 needs-validation" novalidate autocomplete="off">
      {% csrf_token %}
      <div class="mb-3">
        <label for="password1">Senha:</label>
        <input type="password" name="password1" id="password1" class="form-control" required placeholder="Crie uma nova senha ..."/>
        <div class="invalid-feedback text-center">Campo obrigatório!</div>
      </div>
      <div class="mb-3">
        <label for="password2">Repita a senha:</label>
        <input type="password" name="password2" id="password2" class="form-control" required placeholder="Confirme a nova senha ..."/>
        <div class="invalid-feedback text-center">Campo obrigatório!</div>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary" type="submit">Redefinir</button>
      </div>
{% endblock content %}